[submodule "EmbodiedCarbonModeling"]
	path = EmbodiedCarbonModeling
	url = https://github.com/S4AI-CornellTech/EmbodiedCarbonModeling.git
	branch = microgreen
[submodule "profiling/inference/coralmicro"]
	path = profiling/inference/coralmicro
	url = https://github.com/S4AI-CornellTech/coralmicro.git
	branch = microgreen
[submodule "profiling/inference/nrf52/tflite-micro"]
	path = profiling/inference/nrf52/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
[submodule "profiling/inference/picotool"]
	path = profiling/inference/picotool
	url = https://github.com/raspberrypi/picotool.git
